@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1652488819998') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-top:before {
  content: "\e69e";
}

.icon-weixin:before {
  content: "\f0106";
}

.icon-chakan:before {
  content: "\f02d4";
}

.icon-chakan1:before {
  content: "\f01f0";
}

.icon-kefu:before {
  content: "\e741";
}

.icon-zhizuo:before {
  content: "\e61c";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-guanyuwomen:before {
  content: "\e655";
}

.icon-jiantou:before {
  content: "\e615";
}

.icon-yanshou:before {
  content: "\e711";
}

.icon-home:before {
  content: "\e600";
}

.icon-fuwu:before {
  content: "\e622";
}

.icon-fenxiang:before {
  content: "\e660";
}

.icon-goutong:before {
  content: "\e607";
}

.icon-weizhi-xianxing:before {
  content: "\e8fe";
}

.icon-fenxiang1:before {
  content: "\e7c5";
}

.icon-jieduanzhuangtai:before {
  content: "\e687";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-fl-renyuan:before {
  content: "\e625";
}

.icon-tianshenpi:before {
  content: "\eb67";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-icon-test:before {
  content: "\e609";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-kefu1:before {
  content: "\ec2e";
}

.icon-icon-beian:before {
  content: "\e635";
}

.icon-yanshou1:before {
  content: "\ec04";
}

.icon-home1:before {
  content: "\e89c";
}

.icon-fuwu1:before {
  content: "\e732";
}

.icon-biyan:before {
  content: "\e613";
}

.icon-pushpin:before {
  content: "\e680";
}

.icon-position:before {
  content: "\e60b";
}

.icon-home2:before {
  content: "\e603";
}

.icon-dianhua1:before {
  content: "\e8ad";
}

.icon-Top:before {
  content: "\e769";
}

.icon-fuwu2:before {
  content: "\e651";
}

.icon-gengduo:before {
  content: "\e608";
}

.icon-beian:before {
  content: "\e712";
}

.icon-kefugoutong:before {
  content: "\e631";
}

.icon-tuandui:before {
  content: "\e6cb";
}

.icon-top1:before {
  content: "\e681";
}

.icon-biyan1:before {
  content: "\e611";
}

.icon-fenxiang2:before {
  content: "\e612";
}

.icon-Hub:before {
  content: "\e68d";
}

.icon-gengduo1:before {
  content: "\e502";
}

.icon-xiangmupinggu:before {
  content: "\e6ad";
}

.icon-xiangmuyanshou_yanshou:before {
  content: "\e798";
}

.icon-weichexiangmutubiaoku_qiandinghetong:before {
  content: "\e6bc";
}

.icon-duanjiantou:before {
  content: "\e67d";
}

.icon-xiangmupinggu1:before {
  content: "\e667";
}

.icon-yanshou2:before {
  content: "\e664";
}

.icon-duanjiantoushang:before {
  content: "\ec93";
}

.icon-duanjiantouxia:before {
  content: "\ec94";
}

.icon-duanjiantouzuo:before {
  content: "\ec95";
}

.icon-duanjiantouyou:before {
  content: "\ec96";
}

.icon-biyan2:before {
  content: "\e72e";
}

.icon-goutong1:before {
  content: "\e661";
}

.icon-biyan3:before {
  content: "\e653";
}

.icon-yanshoubaogao:before {
  content: "\e691";
}

