.banner {
	text-align: center;
}

.banner img {
	width: 30%;
}
.grnav{
	display: flex;
	justify-content: space-between;
	margin-top: 0.625rem;
	padding: 0 0.9375rem 0.9375rem;
}
.bt{
	background-color: #55aaff;
	font-size: 0.625rem;
	padding: 0.3125rem 0.25rem 0.25rem;
	border-radius: 0.3125rem;
	color: #ffffff;
}
.guo {
	width: 80%;
	height: 2.5rem;
	padding-left: 10%;
	font-weight: bold;
	font-size: 1.25rem;
}
.jieshao{
	width: 90%;
	height: 0.5rem;
	padding-left: 10%;
	font-weight: bold;
	font-size: 0.25rem;
}
.left {

	float: left;
	width: 68%;
	height: 100%;
}

.left img {
	width: 100%;
	border-radius: 2.125rem;
	margin-top: 0.625rem;
}

.right {
	float: left;
	width: 28%;
	margin-left: 0.625rem;
}

.gg_cont {
	line-height: 20px;
	font-size: 15px;
	color: #ffffff;
	background-color: #55aaff;
	border-radius: 1rem;
	padding: 0 0 0 1.25rem;
}

.button {
	width: 95%;
	height: 2.25rem;
	background-color: #55aaff;
	margin-top: 0.625rem;
	border-radius: 0.625rem;
	text-align: center;
	line-height: 40px;
	border: 1px solid #ddd;

}
.button a {
	text-decoration: none;
	color: #000000;
}
